body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #222;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 8px 0;
}
ul li a {
    text-decoration: none;
    color: #007bff;
}
ul li a:hover {
    text-decoration: underline;
}

/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 5px 0;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

